*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

[class*="col-"]{
    min-height: 40px;
    background-color: rgb(67, 67, 247);
    border: 1px solid #fff;
}

.row>.col-xs:not(:first-child){
    flex-grow: 2;
}

[class*="col-"]>.row>[class*="col-"]{
    min-height: 20px;
    background-color: rgb(49, 247, 125);
    border: none;
    margin-right: 2px;
}

[class^="col-"]>.row { 
    flex-wrap: nowrap;
    margin: 10px;
}

.center{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1em;
    color: #fff;
    padding: 4px;
}
